@using FederatedAuthNAuthZ.Configuration
@{
    IFederatedApplicationSettings FederatedApplicationSettings = ViewBag.FederatedApplicationSettings as IFederatedApplicationSettings;
}
<h1>Cookie Policy for @(FederatedApplicationSettings.SiteName)</h1>

<p>This is the Cookie Policy for @(FederatedApplicationSettings.SiteName)</p>
@{
    Html.RenderPartial("CookiePolicyPartial");
}