@model FederatedIPAuthenticationService.Configuration.IFederatedApplicationSettings
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.SiteName</h1>
    <p class="lead">@Model.SiteDescription</p>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @id = "RegisterForm", data_ajax = "form" }))
        {
            Html.RenderAction("Register", "Home");
        }
    </div>
    <div class="col-12 col-md-6">
        <table id="DataTableTest" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Col 1</th>
                    <th>Col 2</th>
                    <th>Col 3</th>
                    <th>Col 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Data A 1</th>
                    <th>Data A 2</th>
                    <th>Data A 3</th>
                    <th>Data A 4</th>
                </tr>
                <tr>
                    <th>Data B 1</th>
                    <th>Data B 2</th>
                    <th>Data B 3</th>
                    <th>Data B 4</th>
                </tr>
                <tr>
                    <th>Data C 1</th>
                    <th>Data C 2</th>
                    <th>Data C 3</th>
                    <th>Data C 4</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#DataTableTest').dataTable({
                responsive: true,
                keys: true,
                editable: {
                    "onUpdate": function () {
                        console.log('edit');
                    }
                }
            });
        });
    </script>
} 