
@using FederatedAuthNAuthZ.Configuration
@{
    IFederatedApplicationSettings FederatedApplicationSettings = ViewBag.FederatedApplicationSettings as IFederatedApplicationSettings;
}
<h1 class="display-4">Privacy Policy for @(FederatedApplicationSettings.SiteName)</h1>

<p>This is the Privacy Policy for @(FederatedApplicationSettings.SiteName)</p>

@{
    Html.RenderPartial("PrivacyPolicyPartial");
}