@using FederatedAuthNAuthZ.Configuration
@{
    IFederatedApplicationSettings ConsumingApplicationFederatedApplicationSettings = ViewBag.ConsumingApplicationFederatedApplicationSettings as IFederatedApplicationSettings;
}
@{
    string DefaultCookiePolicy = "This site uses cookies to its technical functionalities. If you want to find out more about the cookies we use and how to disable them, you can access our Cookie Policy. By continuing your visit on the website, you consent to the use of the cookies.";
}
<h2 class="lead mb-0">Cookie Policy</h2>

<div class="card card-privacy-notice my-2">
    <div class="card-body p-2">
        @foreach (string paragraph in DefaultCookiePolicy.Split('\n'))
        {
            <p class="card-text text-left">@paragraph</p>
        }

        <a href="@ConsumingApplicationFederatedApplicationSettings.CookiePolicyUrl" title="View Cookie Policy" class="card-link" target=”_blank” rel=”noopener noreferrer”>
            <small>
                <i class="fa fa-info-circle"></i>
                <span>View Cookie Policy</span>
            </small>
        </a>
    </div>
</div>

@using (Html.BeginForm("AcceptCookies", "Home", new { }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary w-100" data-toggle="popover" title="Accept" data-content="Accept Cookies" data-trigger="hover" data-container="body" data-placement="top">
        <span class="ml-1"><i class="fa fa-check"></i></span>
        <span class="ml-1">Accept</span>
    </button>
}

