@model FederatedIPAPIAuthenticationProviderWeb.Models.LoginVM

<h2 class="lead">Privacy Notice</h2>

<div class="card card-privacy-notice mb-2">
    <div class="card-body text-left p-2">
        @foreach (string paragraph in Model.PrivacyNotice.Split('\n'))
        {
            <p class="card-text">@paragraph</p>
        }

    </div>
</div>

@using (Html.BeginForm("PrivacyNoticeAckowlage", "Home", new { }, FormMethod.Post, new { @id = "LoginFormCAC" }))
    {
@Html.AntiForgeryToken()
<button type="submit" class="btn btn-primary w-100" data-toggle="popover" title="Acknowlage" data-content="Acknowlage Privacy Notice" data-trigger="hover" data-container="body" data-placement="top">
    <span class="ml-1"><i class="fa fa-check"></i></span>
    <span class="ml-1">Acknowlage</span>
</button>
    }

