@model string
<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" data-modal="alert" data-name="@Model">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-auto align-self-center pr-1">
                        <span class="fa-stack">
                            <i class="modal-icon-bg fa-stack-2x"></i>
                            <i class="modal-icon fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="col align-self-center pl-1">
                        <span class="modal-title text-capitalize"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="fa-stack fa-3x">
                            <i class="modal-content-icon-bg fa fa-circle fa-stack-2x"></i>
                            <i class="modal-content-icon fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="col-12 modal-message"></div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
